<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsdroid.float_menu">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity
            android:name=".permission.FloatPermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/FloatPermissionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>
</manifest>
